.product-types {
    position: relative;
    /*background-image: url("./static/background.jpg");*/
    background-color: var(--accent);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 83vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-single-type {
    width: 25%;
    height: 100%;
    background-color: var(--accent);
    justify-content: center;
    text-align: center;
    transition: all .3s ease-in-out;
}

.product-single-type:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.link {
    text-decoration: inherit;
    color: white;
    text-align: center;
}

@media all and (max-width: 820px){
    .product-types {
        flex-direction: column;
    }

    .product-single-type{
        width: 50%;
        margin-top: 5%;


    }
    .product-single-type img{
        width: 75%;
    }
}