.cover-articles {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url("../../static/cover-opacity.png");
    background-size: cover;
    background-color: grey;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.sliding-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 15%;
}

.sliding-arrow:hover{
    cursor: pointer;
}
.right {
    transform: scale(0.5);
    opacity: 0.5;
}
.left {
    transform: scale(0.5);
    opacity: 0.5;
}

@media screen and (max-width: 650px) {
    .cover-articles{

    }
    .left {
        display: none;
    }
    .right {
        display: none;
    }

    .center {
        width: 80%;
    }
    .sliding-arrow {
        width: auto;
        background-color: black;
        padding-right: 6px;
        margin: 0;
    }
    .sliding-arrow i{
        color: white;
    }
    .right-arr {
        margin-right: 2%
    }
}