.shortcut-images{
    width: 100%;
    background-color: var(--accent);
    height: 600px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.powders {
    background-image: url("../../static/cover.webp");
}

.machines {
    background-image: url("../../static/french.jpg");
}


.curiosities {
    background-image: url("../../static/cappuccino.webp");
}

.shortcut {
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 80%;
    width: 25%;
    position: relative;
    background-size: cover;
    background-color: var(--primary);
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

.shortcut:hover {
    transform: scale(1.1);
    font-size: 1.5em;
    cursor: pointer;
}

.trending {
    background-color: var(--primary);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.trending-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 400px;
    width: 100%;
    top: 65%;
    background-color: var(--primary);
}
.trending-title h1 {
    text-align: center;
    font-size: 3rem;
    padding: 2%;

}


@media screen and (max-width: 820px) {
    .shortcut-images{
        flex-direction: column;
    }

    .shortcut {
        width: 80%;
        margin: 10px;
    }

    .trending-title {
        position: relative;
        height: 100px;
        justify-content: center;
    }
    .trending-title h1 {
        font-size: 2rem;
        padding: 0;
    }
}

@media screen and (max-height: 900px){
    .trending-title {
        position: relative;
        height: 100px;
        top: 65%;
    }
}