.trending-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--accent);
}
.trending-list .article-card{
    width: 25%;
    padding: 5%
}

@media all and (max-width: 820px) {
    .trending-list{
        flex-direction: column;
        width: 100%;
    }

    .trending-list .article-card{
        width: 80%;
        margin: 10px;
    }
}