.about-container {
    background-color: var(--accent);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.me {
    width: 25%;
    border-radius: 5px;
    margin: 30px;
}

.me-description {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: inherit;
    width: 50%;
    margin-bottom: -4%;
}

.link-to-contacts {
    text-decoration: none;
    padding: 5px;
    color: var(--primary);
}
.contact-link-container{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9b9b9b;
    flex-direction: row;
    width: 25%;
    margin: 5% 5% 30px 5%;
    border-bottom: 1px grey solid;
    border-top: 1px grey solid;
    border-radius: 5px;
}
.contact-link-container p{
   padding: 0;
}
.contact-link-container:hover{
   cursor: pointer;
}

.go-to-contacts{
    padding-left: 18px;
    padding-bottom: 1px;
    text-align: center;
}
.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
}



@media all and (max-width: 820px){
    .me {
        width: 80%;
    }

    .me-description {
        font-size: 1.5rem;
        width: 90%;
        text-align:center;
    }
    .contact-link-container{
        width: 75%;
    }
}