.article-container {
    background-color:  #d4dbe0;
}

.gif {
    width: 45%;
}

.zoom-article-cover{
    position: relative;
    overflow: hidden;
    padding-bottom: 42%;
    width: 100%;
}
.zoom-article-cover img{
    position: absolute;
    left: 50%;
    max-width: 200%;
    width: 100%;
    transform: translate3d(-50%, -15%,0);
    /* Thanks  @bastian_fiessinger. Use when activating blur effect:
    will-change: -webkit-filter, filter, transform; */
}

@media all and (max-width: 700px){
    .art-body{
        width: 95% !important;
        padding-right: 0 !important;
    }
    .gif {
        width: 90%;
    }
}
