.article-container {
    background-color:  var(--accent);
}

.gif {
    width: 45%;
}

.zoom-article-cover{
    position: relative;
    overflow: hidden;
    padding-bottom: 42%;
    width: 100%;
}
.zoom-article-cover img{
    position: absolute;
    left: 50%;
    max-width: 200%;
    width: 100%;
    transform: translate3d(-50%, -15%,0);
    /* Thanks  @bastian_fiessinger. Use when activating blur effect:
    will-change: -webkit-filter, filter, transform; */
}

.art-body{
    margin: 10px 0 10px 2%;
    border: 2px solid grey;
    border-radius: 10px;
}

.art-body h4{
    font-size: 2rem;

}

.art-body img {
    width: 100%;
}
.sum-up{
    margin-top: 0;
    padding: 2%;
}
.sum-up li{
    font-size: 1.5rem;
}

.body-wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.reactions-side {
    width: 10%;
    height: 100%;
    margin-left: 5%;
    margin-top: 10px;
    top: 10%;
    border: 2px grey solid;
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fa-icon-article {
    color: #6CB4EE;
}

.likes-side {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    margin-top: 10%;
}

.likes-side div {
    margin: 20% 0 0 22%;
    text-align: center;
}

#center-span{
    display: flex;
    justify-content: center;
    width: 75%;
    text-align: center;
    margin-left: 10%;
    font-style: italic;
}

.adv {
    width: 300px;
    height: 250px;
    margin-bottom: 150px;
}

.advmobile {
    display: none;
    width: 300px;
    height: 250px;
}

.adsdesktop {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right:10px;
    margin-left: 10px;
    margin-top:50px;
}

@media all and (max-width: 820px){
    .art-body{
        width: 95% !important;
        padding-right: 0 !important;
        font-size: 1.2rem;
        border: none;
    }
    h1 {
        font-size: 1.4rem;
    }
    .gif {
        width: 90%;
    }
    .reactions-side{
        display: none;
    }

    .adsdesktop{
        display: none;
    }

    .advmobile {
        display: flex;
    }
}


.markup h4{
    font-size: 2rem;
}
.markup img {
    width: 100%;
}

.markup {

    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
    padding: 0;
}