.article-card{
    width: 25%;
    z-index: 3;
    opacity: 1;
}

.article-card img{
    width: 80%
}

.flex-column {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

.card-title{
    color: white;
    font-size: 2em;
    padding-bottom: 3%;
    text-align: center;
}

.card-data{
    padding: 3%;
    background-color: grey;
    width: 74%;
}




/*.right:hover img{
    transform: scale(1.74) translate(-172%,2%);
    opacity: 1;
}*/